name: Build for Android

# Controls when the workflow will run
on:
  push:
    branches:
      - main
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Build an AAB file to publish on the Google Play Store
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup java (v12.x)
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "21.x"

      - name: Setup flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.29.2"
          channel: "stable"

      - name: Build apk
        env:
          JKS_KEY: ${{ secrets.JKS_KEY }}
          AAB_PASSWORD: ${{ secrets.AAB_PASSWORD }}
        run: |
          echo $JKS_KEY | base64 -d > android/upload-keystore.jks
          flutter pub get
          flutter build appbundle
      - name: Retrieve AAB
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/bundle/release/app-release.aab
